*.o
*.p
/Listings
/Objects/
/Project/led/mdk/Listings/
/Project/led/mdk/Objects/
/Project/i2c_slave/mdk/Listings/
/Project/i2c_slave/mdk/Objects/
/Project/uart/mdk/Listings/
/Project/uart/mdk/Objects/
/Project/ws2812b/mdk/Listings/
/Project/ws2812b/mdk/Objects/
/Project/ble_bypass/mdk/Listings/
/Project/ble_bypass/mdk/Objects/
